html {
    font-size: 14px;
}

body {
    overflow: hidden;
    background-color: #8FF;
    font-family: arial;
}

#gameWrapper {
    margin: 0 auto;
    width: fit-content;
    margin-top: 1rem;
}

#menuButton {
    text-align: center;
    padding: 1rem;
}

#menuButton button {
    width: 15rem;

    font-size: 2em;
    height: 4rem;

    border: none;
    border-radius: 1.5rem;

    background-color: #FFF;

}

#menuWrapper {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding-top: 100px;
}

#menuWrapper button {
    font-size: 3rem;
    padding: 0.5rem;
    width: 24rem;
    height: 6rem;
    margin-bottom: 8rem;
    border: none;
    border-radius: 1rem;
}

#menuWrapper button, #menuButton button, #winBox button {
    transition: transform 75ms ease-in-out;
}

#menuWrapper button:hover, #menuButton button:hover, #winBox button:hover {
    transform: scale(1.1, 1.1);
}


/* body {
    background-image: url("https://cdn.discordapp.com/attachments/700680755210354758/702816243882655744/3384223.jpg");
    background-repeat: no-repeat;
    background-size: cover;

} */

#title {
    text-align: center;
    font-size: 66px;
    padding: 10px;
    margin: 0;
}

body {
    margin: 0;
}

.hidden {
    display: none;
}



#gameZone {
    display: grid;
    width: fit-content;
    padding: 1em 3em 1em;
    grid-template-columns: 6em 6em 6em 6em 6em 6em 6em;
    grid-template-rows: 6em 6em 6em 6em 6em 6em;
    
    margin-top: 1rem;

    column-gap: 1rem;
    row-gap: 1rem;

    background-color: #44B;

    color: #FFF0;
/* 
    padding-top: 3rem; */
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

}

.gameSquare {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
}

#buttonRow {
    display: grid;
    grid-template-columns: 6em 6em 6em 6em 6em 6em 6em;
    column-gap: 1em;
    padding: 0 3em;
    padding-bottom: 1em;
    height: 6rem;
}

#buttonRow button {
    border: none;
    outline: none;
    border-radius: 50%;
    height: 6rem;
    font-size: 300%;
    background-color: #BBB;
    padding: 0;
}

.button {
    border-radius: 50%;
    height:100%;
    width: 100%;

    justify-content: center;
    display: flex;
    align-items: center;
    transition: transform 75ms ease-in-out;
}

#buttonRow button:hover .button{
    opacity: 1;
    transform: translate(0, 2rem);
}

.redButton button .button {
    background-color: #f00;
}

.blueButton button .button {
    background-color: #08F;
}

.red :only-child {
    background-color: #f00;
}

.blue :only-child {
    background-color: #08F;

}



.red :only-child, .blue :only-child {
    height: 100%;
    width: 100%;
    border-radius: 3em;

    /*animations*/
    animation-name: place;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    /*transform: translate(20px, 20px);
    transition: transform 200ms ease-in-out;*/

    
}

.checked {
    background-color: yellow;
}


#winBox {
    position: absolute;
    text-align: center;
    width: calc(38rem - 4px);
    /* border: 2px solid black; */
    border-radius: 2rem;
    background-color: #DDD;

    top: 6rem;
    left: calc(50% - 19rem - 2px);

    animation-name: winBox-enter;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
}

#winBox button {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 2rem;
    

    border-radius: 1rem;
    border-color: #000;
    padding: 0.5rem 1rem;


}

#winTitle {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#winText {
    font-size: 1.25rem;
}

.animOut {
    animation-name: out-down;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-duration: 1000ms;
}

.animIn {
    animation-name: in-up;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 1000ms;
}

@keyframes place {
    0% {
        transform: translate(0px, -1000px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes winBox-enter {
    0% {
        transform: translate(0px, -30rem);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes out-down {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 100vh);
    }
    150% {
        transform: translate(0px, 100vh);
    }
}


@keyframes in-up {
    0% {
        transform: translate(0px, 100vh);
    }
    100% {
        transform: translate(0px, 0px);
    }
    
}   